:root {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.navbar {
    display: table;
    position: fixed;
    z-index: 1000;

    i {
        margin-right: 5px;
        color: yellow;
    }

    li {
        display: table-cell;
        
        padding: 10px 120px;

    }
    a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }
}

.section {
    height: 100vh;
    // border: 5px solid red;
    text-align: right;
    color: white;
    padding: 5%;
    box-sizing: border-box;

    > * {
        position: relative;
        z-index: 999;
    }
    
        & h1 {
              margin-top: 15vh;
              font-size: 5vh;
          }

    &#presentation {
       h1 {
        font-size: 5vh;
       }
       img {
        width: 20vw;
       }

       a {
        text-decoration: none;
        color: white;
        border: 1px dotted white;
        padding: 10px;

        &:hover {
            color: yellow;
        }
       }
    }

    &#reviews {
       margin-bottom: 780px;
    }
}

.parallax-container {
  & .splide {
    width: 75vw;
    height: 60vh;
    margin: 1vw auto;

    display: flex;
    align-items: center;
  }

.splide__list li {
    display: flex;
    justify-content: center;
  }

& .review {
width: 40vw;
border: 5px solid rgb(69, 62, 78);
padding: 10px 40px;
background-color: white;
color: black;
}
}

.form {
    & h1 {
        bottom: 60px;

    }
            width: 800px;
            // margin-top: -290px;
            transform: translateX(600px) translateY(-290px);
        & label {
            display: inline-block;
            padding: 5px 20px;
            color: darkgrey;
            
            
        }
    
        & input {
            display: inline-block;
            width: 80%;
            border: 2px solid rgb(73, 73, 247);
            padding: 5px;
            font-size: 15px;
            border-radius: 7px;
        }
        & .btn {
            border: 0;
            background-color: rgb(35, 20, 51);
            padding: 10px;
            color: white;
            margin: 5px 0;
            width: 630px;
            &:hover {
                background-color: green;
            }
        }

    }