html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
#overlay {
    height: 70%;
    width: 60%;

    padding: 15% 20%;
    background-color: #4448;

    background-image: 
    linear-gradient(black 20%, #0005 20%),
    linear-gradient(#0005 80%, black 80%);

    position: absolute;
    z-index: 1;
    
    color: white;
    font-family: Arial;
}
#background {
    height: 100%;
    width: 100%;
    position: absolute;
}
input {
    padding: 5px;
    outline: none;
    border: 2px solid #345;
    background-color: #e6dbdb;

}
input:focus {
    border-color: rgb(11, 204, 178);
    background-color: white;
}
button {
    background-color: rgb(2, 86, 97);
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    margin-left: 20px;
    font-family: Monaco;
 }
